.header {
  @include on-desktop {
    position: static;
  }

  &__top {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    @include on-desktop {
      padding: 28px 32px;
    }
  }

  &__logo {
    &-img {
      width: auto;
      height: 24px;
    }
  }

  &__menu {
    pointer-events: none;

    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    transform: translateY(-20px);

    width: 100%;

    visibility: hidden;
    opacity: 0;

    transition: $effectDuration ease;

    @include on-desktop {
      pointer-events: auto;

      position: static;
      transform: none;

      width: auto;

      visibility: visible;
      opacity: 1;
      background: transparent;
    }

    &.is-open {
      pointer-events: auto;

      transform: translateY(0);

      padding-top: 132px;
      padding-bottom: 196px;

      visibility: visible;
      opacity: 1;
      background-color: $light-pink;

      @include on-desktop {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    @include on-desktop {
      flex-direction: row;
      gap: 64px;
      align-items: center;
    }
  }

  &__link {
    position: relative;

    display: inline-block;

    font-size: 16px;
    line-height: 150%;
    letter-spacing: -1%;

    transition: color $effectDuration ease;

    &::after {
      content: '';

      position: absolute;
      bottom: -4px;
      left: 0;
      transform-origin: center;
      transform: scaleX(0);

      width: 100%;
      height: 1px;

      background: currentColor;

      transition: transform $effectDuration ease;
    }

    &:hover::after,
    &:focus-visible::after {
      transform: scaleX(1);
    }

    &--contact {
      display: flex;
      gap: 7px;
      align-items: center;
      color: $accent-orange;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
  }

  @include on-desktop {
    grid-column: 1 /5;
  }
  &__hero {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 16px 40px;

    @include on-tablet {
      @include page-grid;

      padding-top: 80px;
      padding-inline: 44px;
    }

    @include on-desktop {
      padding-top: 135px;
    }
  }

  &__text {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -1%;

    @include on-tablet {
      grid-column: 1 /5;
      margin-bottom: 146px;
      text-align: left;
    }

    @include on-small-desktop {
      grid-column: 1 /3;
    }

    @include on-desktop {
      margin-bottom: 8px;
    }

    @include on-large-desktop {
      margin-bottom: 40px;
    }
  }

  &__title {
    position: relative;
    z-index: 1;

    font-size: 64px;
    line-height: 85%;
    color: $accent-orange;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -5%;

    @include on-tablet {
      z-index: 2;
      grid-column: 1 /-1;
      font-size: 80px;
    }

    @include on-small-desktop {
      font-size: 100px;
    }

    @include on-desktop {
      font-size: 136px;
      white-space: nowrap;
    }

    @include on-large-desktop {
      font-size: 144px;
    }
  }

  &__image-wrapper {
    position: relative;

    @include on-tablet {
      grid-column: 3/7;
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    width: 288px;

    @include on-tablet {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);

      width: 326px;
    }

    @include on-small-desktop {
      transform: translate(-50%, -54%);
      width: 500px;
    }

    @include on-desktop {
      transform: translate(-50%, -60%);
      width: 544px;
    }

    @include on-large-desktop {
      width: 584px;
    }
  }

  &__button {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    width: 288px;
    height: 56px;
    margin-top: 20px;
    border: 2px solid $accent-orange;
    border-radius: 32px;

    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: $accent-orange;
    text-transform: uppercase;
    letter-spacing: 2%;

    transition:
      background-color $effectDuration ease,
      color $effectDuration ease,
      border-color $effectDuration ease;

    &-icon {
      width: 20px;
      height: 20px;
    }

    &:disabled,
    &--disabled {
      cursor: not-allowed;
      border-color: #fba28f;
      color: #fba28f;
      background-color: #fff;
    }

    &--disabled .header__button-icon,
    &:disabled .header__button-icon {
      opacity: 0.5;
    }

    &:hover {
      color: #fff;
      background-color: $accent-orange;
    }

    &:hover .header__button-icon {
      filter: brightness(0) invert(1);
    }

    &:focus {
      border-color: #b2341a;
      color: #fff;
      background-color: #b2341a;
      outline: none;
    }

    &:focus .header__button-icon {
      filter: brightness(0) invert(1);
    }

    @include on-tablet {
      grid-column: 1/-1;
      width: 326px;
      margin: 0 auto;
      margin-top: 210px;
    }

    @include on-small-desktop {
      width: 260px;
    }

    @include on-desktop {
      grid-column: 1/3;
      width: 280px;
      margin-top: 64px;
    }
  }
}
