$light-pink: #ffeefc;
$accent-orange: #f9512e;
$black: #1c1a26;
$grey: #7f8096;
$white: #fff;
$dark-orange: #b2341a;
$light-orange: #fba28f;
$font-size-small: 14px;
$small-tablet-min-width: 568px;
$tablet-min-width: 768px;
$small-desktop-min-width: 1024px;
$desktop-min-width: 1200px;
$large-desktop-min-width: 1440px;
$effectDuration: 0.3s;
